body {
  text-align: center;
  font-family: 'Rubik', 'sans-serif';
}

.main-container header {
  background-image: url('../img/bgprofile.jpg');
  background-position: 50% 50%;
  color: white;
  background-size: cover;
}

.main-container header .header-bg {
  background-color: rgba(0,0,0,0.75);
  border-radius: inherit;
  padding: 4rem 1rem;
}

.main-container header .header-bg img {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .main-container header .header-bg {
    padding: 2rem 1rem;
  }

  .main-container header .header-bg img {
    display: none;
  }
}

.main-container header .header-bg .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container header .header-bg .header-title h1 {
  font-weight: bold;
}

.main-container a.link {
  text-decoration: none;
}

.main-container .content {
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #333;
  color: white;
  transition: background-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear;
  margin-bottom: 1rem;
}

.main-container .content i {
  margin-right: 1rem;
}

.main-container .content img {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border-radius: 5px;
  flex: 0 0 75px;
}

.main-container .content .text {
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container .youtube-link .content img {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border-radius: 5px;
  flex: 0 0 75px;
}

.main-container .content .text {
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container .content .text h3 {
  font-weight: bold;
  margin-top: 0; 
  margin-bottom: 0;
}

.main-container a.link .content {
  box-shadow: 5px 5px 8px black;
}

.main-container a.link:hover .content {
  color: black;
  background-color: white;
}

.main-container footer {
  background-image: url('../img/bgprofile.jpg');
  background-position: 0% 100%;
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

.main-container footer .footer-bg {
  background-color: #333;
  border-radius: inherit;
  padding: 1rem;
}

.main-container footer .footer-bg .footer-content {
  border-radius: 5px;
}
